

<!DOCTYPE HTML>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<HTML>
	<HEAD>
		<title>Art Explorer</title>
		<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
		<link rel="stylesheet" type="text/css" href="../style/style.css">
		<link rel="stylesheet" type="text/css" href="components.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="components/facets.js"></script>
	</HEAD>
	
<body ng-app="facets">
<div ng-controller="componController">
<div ng-facet width="400" ></div>
</div>
</body>